.navbar-style {
    border: 2px solid red;
    font-size:25px;
}
.content {
    margin-top:10px;
    margin-bottom:10px;
    padding:20px;
    width:100%;
    background-color:darkslateblue;
}

#display {
    width:85%;
}

#slider {
    width:50%;
}

.content h2 {
    text-align:center;
}

.button-style:checked {
    color:red;
}

#length {
    display:inline-block;
    color:green;
    border:2px solid green;
}